{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "max-len": [
      2,
      120,
      2
    ],
    "valid-jsdoc": 2,
    "new-cap": 0,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "id-length": 0
  }
}